/**
 * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 * Normalize browser default
 * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* normalize.css - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

 /**
 * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 * Layout
 * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*===============================================
 * Margin tools class
 *===============================================*/
.m0 {
  margin: 0px !important;
}
.mt0 {
  margin-top: 0px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.ml0 {
  margin-left: 0px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.my0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.mx0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.m5 {
  margin: 5px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.my5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mx5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.m10 {
  margin: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.my10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mx10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.m15 {
  margin: 15px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.my15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mx15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.m20 {
  margin: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.my20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.mx20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.m25 {
  margin: 25px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.my25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.mx25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.m30 {
  margin: 30px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.my30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.mx30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.m35 {
  margin: 35px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.ml35 {
  margin-left: 35px !important;
}
.mr35 {
  margin-right: 35px !important;
}
.my35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}
.mx35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}
.m40 {
  margin: 40px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.my40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.mx40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.m45 {
  margin: 45px !important;
}
.mt45 {
  margin-top: 45px !important;
}
.mb45 {
  margin-bottom: 45px !important;
}
.ml45 {
  margin-left: 45px !important;
}
.mr45 {
  margin-right: 45px !important;
}
.my45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}
.mx45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}
.m50 {
  margin: 50px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.my50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.mx50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
/*===============================================
 * Padding tools class
 *===============================================*/
.p0 {
  padding: 0px !important;
}
.pt0 {
  padding-top: 0px !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pl0 {
  padding-left: 0px !important;
}
.pr0 {
  padding-right: 0px !important;
}
.py0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.px0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.p5 {
  padding: 5px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.py5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.px5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.p10 {
  padding: 10px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.py10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.px10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.p15 {
  padding: 15px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.py15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.px15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.p20 {
  padding: 20px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.py20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.px20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.p25 {
  padding: 25px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.py25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.px25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.p30 {
  padding: 30px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.py30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.px30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.p35 {
  padding: 35px !important;
}
.pt35 {
  padding-top: 35px !important;
}
.pb35 {
  padding-bottom: 35px !important;
}
.pl35 {
  padding-left: 35px !important;
}
.pr35 {
  padding-right: 35px !important;
}
.py35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}
.px35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}
.p40 {
  padding: 40px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.py40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.px40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.p45 {
  padding: 45px !important;
}
.pt45 {
  padding-top: 45px !important;
}
.pb45 {
  padding-bottom: 45px !important;
}
.pl45 {
  padding-left: 45px !important;
}
.pr45 {
  padding-right: 45px !important;
}
.py45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}
.px45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}
.p50 {
  padding: 50px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pl50 {
  padding-left: 50px !important;
}
.pr50 {
  padding-right: 50px !important;
}
.py50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.px50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
/*===============================================
 * Grid tools class
 *===============================================*/
.container.container-fixed {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.container-fluid:before,
.container-fluid:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.container-fluid:after {
  clear: both;
}
.container-fluid.container,
.container-fluid.container10 {
  width: auto;
  padding: 0;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.row:after {
  clear: both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.container .col-xs-12 {
  width: 100%;
}
.container .col-xs-11 {
  width: 91.66666667%;
}
.container .col-xs-10 {
  width: 83.33333333%;
}
.container .col-xs-9 {
  width: 75%;
}
.container .col-xs-8 {
  width: 66.66666667%;
}
.container .col-xs-7 {
  width: 58.33333333%;
}
.container .col-xs-6 {
  width: 50%;
}
.container .col-xs-5 {
  width: 41.66666667%;
}
.container .col-xs-4 {
  width: 33.33333333%;
}
.container .col-xs-3 {
  width: 25%;
}
.container .col-xs-2 {
  width: 16.66666667%;
}
.container .col-xs-1 {
  width: 8.33333333%;
}
.container10 .col-xs-10 {
  width: 100%;
}
.container10 .col-xs-9 {
  width: 90%;
}
.container10 .col-xs-8 {
  width: 80%;
}
.container10 .col-xs-7 {
  width: 70%;
}
.container10 .col-xs-6 {
  width: 60%;
}
.container10 .col-xs-5 {
  width: 50%;
}
.container10 .col-xs-4 {
  width: 40%;
}
.container10 .col-xs-3 {
  width: 30%;
}
.container10 .col-xs-2 {
  width: 20%;
}
.container10 .col-xs-1 {
  width: 10%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .container .col-sm-12 {
    width: 100%;
  }
  .container .col-sm-11 {
    width: 91.66666667%;
  }
  .container .col-sm-10 {
    width: 83.33333333%;
  }
  .container .col-sm-9 {
    width: 75%;
  }
  .container .col-sm-8 {
    width: 66.66666667%;
  }
  .container .col-sm-7 {
    width: 58.33333333%;
  }
  .container .col-sm-6 {
    width: 50%;
  }
  .container .col-sm-5 {
    width: 41.66666667%;
  }
  .container .col-sm-4 {
    width: 33.33333333%;
  }
  .container .col-sm-3 {
    width: 25%;
  }
  .container .col-sm-2 {
    width: 16.66666667%;
  }
  .container .col-sm-1 {
    width: 8.33333333%;
  }
  .container10 .col-sm-10 {
    width: 100%;
  }
  .container10 .col-sm-9 {
    width: 90%;
  }
  .container10 .col-sm-8 {
    width: 80%;
  }
  .container10 .col-sm-7 {
    width: 70%;
  }
  .container10 .col-sm-6 {
    width: 60%;
  }
  .container10 .col-sm-5 {
    width: 50%;
  }
  .container10 .col-sm-4 {
    width: 40%;
  }
  .container10 .col-sm-3 {
    width: 30%;
  }
  .container10 .col-sm-2 {
    width: 20%;
  }
  .container10 .col-sm-1 {
    width: 10%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .container .col-md-12 {
    width: 100%;
  }
  .container .col-md-11 {
    width: 91.66666667%;
  }
  .container .col-md-10 {
    width: 83.33333333%;
  }
  .container .col-md-9 {
    width: 75%;
  }
  .container .col-md-8 {
    width: 66.66666667%;
  }
  .container .col-md-7 {
    width: 58.33333333%;
  }
  .container .col-md-6 {
    width: 50%;
  }
  .container .col-md-5 {
    width: 41.66666667%;
  }
  .container .col-md-4 {
    width: 33.33333333%;
  }
  .container .col-md-3 {
    width: 25%;
  }
  .container .col-md-2 {
    width: 16.66666667%;
  }
  .container .col-md-1 {
    width: 8.33333333%;
  }
  .container10 .col-md-10 {
    width: 100%;
  }
  .container10 .col-md-9 {
    width: 90%;
  }
  .container10 .col-md-8 {
    width: 80%;
  }
  .container10 .col-md-7 {
    width: 70%;
  }
  .container10 .col-md-6 {
    width: 60%;
  }
  .container10 .col-md-5 {
    width: 50%;
  }
  .container10 .col-md-4 {
    width: 40%;
  }
  .container10 .col-md-3 {
    width: 30%;
  }
  .container10 .col-md-2 {
    width: 20%;
  }
  .container10 .col-md-1 {
    width: 10%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .container .col-lg-12 {
    width: 100%;
  }
  .container .col-lg-11 {
    width: 91.66666667%;
  }
  .container .col-lg-10 {
    width: 83.33333333%;
  }
  .container .col-lg-9 {
    width: 75%;
  }
  .container .col-lg-8 {
    width: 66.66666667%;
  }
  .container .col-lg-7 {
    width: 58.33333333%;
  }
  .container .col-lg-6 {
    width: 50%;
  }
  .container .col-lg-5 {
    width: 41.66666667%;
  }
  .container .col-lg-4 {
    width: 33.33333333%;
  }
  .container .col-lg-3 {
    width: 25%;
  }
  .container .col-lg-2 {
    width: 16.66666667%;
  }
  .container .col-lg-1 {
    width: 8.33333333%;
  }
  .container10 .col-lg-10 {
    width: 100%;
  }
  .container10 .col-lg-9 {
    width: 90%;
  }
  .container10 .col-lg-8 {
    width: 80%;
  }
  .container10 .col-lg-7 {
    width: 70%;
  }
  .container10 .col-lg-6 {
    width: 60%;
  }
  .container10 .col-lg-5 {
    width: 50%;
  }
  .container10 .col-lg-4 {
    width: 40%;
  }
  .container10 .col-lg-3 {
    width: 30%;
  }
  .container10 .col-lg-2 {
    width: 20%;
  }
  .container10 .col-lg-1 {
    width: 10%;
  }
}

 /**
 * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 * Font Awesome
 * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Base Class Definition
 * -------------------------- */
.fa {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-behance:before {
  content: "\f1b4";
}

 /**
 * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 * General
 * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.skin {
    background-color: #e8e5de;
    background-image: -webkit-linear-gradient(0deg, #e8e5de 50%, #b84646 50%);
    background-image:    -moz-linear-gradient(0deg, #e8e5de 50%, #b84646 50%);
    background-image:     -ms-linear-gradient(0deg, #e8e5de 50%, #b84646 50%);
    background-image:      -o-linear-gradient(0deg, #e8e5de 50%, #b84646 50%);
    background-image:         linear-gradient(90deg, #e8e5de 50%, #b84646 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e5de', endColorstr='#ffb84646', GradientType=1);
}

.csoon-left {
    background-color: #e8e5de;
}
.csoon-right {
    background-color: #b84646;
}

/**
 * Site title
 */
.site-title {
    text-align: right;
    padding-right: 30px;
}
.site-title .logo {
    margin: 0;
}
.site-title h2 {
    font: bold 28px "Roboto Condensed", arial, sans-serif;
    color: #3f3030;
    margin: 0;
}

/**
 * Content
 */
.csoon-right {
    padding-left: 30px;
}
.csoon-right h2 {
    font: bold 64px/64px Anton, arial, sans-serif;
    color: #ffffff;
    margin: 0 0 15px;
}
.csoon-right h3 {
    font: bold 54px/54px Anton, arial, sans-serif;
    color: #ffffff;
    margin: 0;
}

/**
 * Social links
 */
.social-links {
    position: fixed;
    bottom: 30px;
}
.social-links a {
    display: inline-block;
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    width: 34px;
    color: #e8e5de;
    background-color: #863030;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0 5px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.social-links a:hover {
    color: #602929;
    background-color: #e8e5de;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -ms-transform: rotate(360deg) scale(1.2);
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
    transform: rotate(360deg) scale(1.2);
}

/**
 * Responsive
 */
@media (max-width: 768px)
{
    body {
        background-color: #b84646;
    }
    .csoon-content,
    .site-title {
        text-align: center;
    }
    .logo {
        width: 82px;
        display: inline-block;
    }
    .logo img {
        width: 100%;
    }
    .site-title {
        padding: 30px 0 25px;
    }
    .site-title h2 {
        font-size: 24px;
    }

    .csoon-right {
        padding: 30px 15px;
    }
    .csoon-right h2 {
        font-size: 48px;
        line-height: 48px;
    }
    .csoon-right h3 {
        font-size: 38px;
        line-height: 38px;
    }

    .social-links {
        right: 0;
        left: 0;
        text-align: center;
    }
    .social-links a {
        margin: 0;
    }
}
